
    .grid-box{
    display:grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto auto auto ;
}

.item1{
    background-color: pink;
    font-size: 5rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1 ;
    grid-row-end: 3;
}
.item2{
    background-color: rgb(231, 12, 49);
    font-size: 10rem;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:1 ;
    grid-row-end: 2;
}
.item3{
    background-color: rgb(38, 239, 28);
    font-size: 10rem;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start:1 ;
    grid-row-end: 3;
}
.item4{
    background-color: rgb(36, 180, 213);
    font-size: 10rem;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:3 ;
    grid-row-end: 5;
}
.item5{
    background-color: rgb(36, 45, 213);
    font-size: 10rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:3 ;
    grid-row-end: 4;
}
.item6{
    background-color: rgb(63, 47, 47);
    font-size: 10rem;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:2 ;
    grid-row-end: 4;
}
.item7{
    background-color: rgb(177, 151, 177);
    font-size: 10rem;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start:3 ;
    grid-row-end: 5;
}
.item8{
    background-color: rgb(46, 41, 196);
    font-size: 10rem;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:4 ;
    grid-row-end: 5;
}
.item9{
    background-color: rgb(110, 109, 159);
    font-size: 10rem;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:5 ;
    grid-row-end: 6;
}
.item10{
    background-color: rgb(109, 159, 155);
    font-size: 10rem;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start:5 ;
    grid-row-end: 6;
}

